/**
LAYOUT
**/
.gallery{
	float: right;
}

.superbox-list {
  display:inline-block;
  *display:inline;
  zoom:1;
  width:12.5%;
}

/**
SIDEBAR
**/

header{
	background: rgb(120, 214, 75);
	width: 30%;
	height: 110%;
	padding: 10px;
}

img {
	width: 100%;
}



/**
FONTS
**/

h1, 
h2, 
h3, 
p, 
a {
	font-family: 'Quicksand', sans-serif
}

h1, 
h2, 
h3  {
	font-weight: 700;
}

header h1,
header h2, 
header h3, 
header p,
header a {
	color: rgb(255, 255, 255);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3, 
p, 
a{
	font-size: 1em;
}

a:hover, 
a:active{
	color: rgb(120, 214, 75);
	background: rgb(255, 255, 255);
	transition: background .55s;
}
